.mainTable { width: 100%;}
.mainTable td, .mainTable th {
  border: 1px solid black;
  padding: 10px;
}

.mainTable__image{width: 300px;}

.mainTable__header{}
.mainTable__content{
   font-family: "Times New Roman";
  font-style: italic;
  text-align: justify;
}

.redtext{
  font-size: 20px;
  color: brown;
}
